In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#sklearn libraries
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_predict

from catboost import Pool, CatBoostRegressor # pip install catboost

import json
import math
from tqdm import tqdm

In [2]:
#haversine formula is simpliest distance between two lat/lon.  Assumes no elevation changes
def distance(lat1,lon1,lat2,lon2):
    #lon1,lat1=coord1 #for reference only
    #lon2,lat2=coord2 #for reference only

    R = 6371000                               # radius of Earth in meters
    phi_1 = math.radians(lat1)
    phi_2 = math.radians(lat2)

    delta_phi = math.radians(lat2-lat1)
    delta_lambda = math.radians(lon2-lon1)

    a = math.sin(delta_phi/2.0)**2+\
        math.cos(phi_1)*math.cos(phi_2)*\
        math.sin(delta_lambda/2.0)**2
    c = 2*math.atan2(math.sqrt(a),math.sqrt(1-a))

    meters = R*c                         # output distance in meters
    km = meters/1000.0              # output distance in kilometers
    miles = meters*0.000621371      # output distance in miles
    feet = miles*5280               # output distance in feet
    
    return round(miles,2)

In [3]:
crime = pd.read_csv("Crime_Data_2016.csv")

In [4]:
crime.head()

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
0,161804051,01/02/2016,01/02/2016,1325,18,Southeast,1804,310,BURGLARY,0344,...,NaN,AA,Adult Arrest,310,NaN,NaN,NaN,MCKINLEY,MANCHESTER AV,"(33.9602, -118.261)"
1,161704085,01/02/2016,01/02/2016,1400,17,Devonshire,1764,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),0325,...,NaN,JA,Juv Arrest,442,NaN,NaN,NaN,9300 TAMPA AV,NaN,"(34.244, -118.5583)"
2,161304073,01/02/2016,01/01/2016,2330,13,Newton,1322,210,ROBBERY,0326 1309 0302 0334 0916 1311 0330 0305 0355 0344,...,SEMI-AUTOMATIC PISTOL,AA,Adult Arrest,210,NaN,NaN,NaN,2400 TRINITY ST,NaN,"(34.0242, -118.2623)"
3,161504099,01/02/2016,01/02/2016,1145,15,N Hollywood,1514,310,BURGLARY,1607 0344 0352 1402 0321 0216 1221 1403 1420,...,NaN,AO,Adult Other,310,998.0,NaN,NaN,12000 VANOWEN ST,NaN,"(34.194, -118.3943)"
4,161504055,01/02/2016,12/31/2015,1935,15,N Hollywood,1522,649,DOCUMENT FORGERY / STOLEN FELONY,0100 1402,...,NaN,AA,Adult Arrest,649,NaN,NaN,NaN,13000 VICTORY BL,NaN,"(34.1936, -118.4166)"

In [5]:
crime.columns

Index(['DR Number', 'Date Reported', 'Date Occurred', 'Time Occurred',
       'Area ID', 'Area Name', 'Reporting District', 'Crime Code',
       'Crime Code Description', 'MO Codes', 'Victim Age', 'Victim Sex',
       'Victim Descent', 'Premise Code', 'Premise Description',
       'Weapon Used Code', 'Weapon Description', 'Status Code',
       'Status Description', 'Crime Code 1', 'Crime Code 2', 'Crime Code 3',
       'Crime Code 4', 'Address', 'Cross Street', 'Location '],
      dtype='object')

In [6]:
crime['Location '][0]

'(33.9602, -118.261)'

### Transform lat/lon
Only run this code once

In [7]:
# ONLY RUN THIS ONCE
crime['lat'], crime['lon'] = crime['Location '].str.split(',', 1).str
crime['lat'] = crime['lat'].map(lambda x: str(x)[1:])
crime['lon'] = crime['lon'].map(lambda x: str(x)[:-1])

In [8]:
crime.lat = crime.lat.astype('float64')
crime.lon = crime.lon.astype('float64')

In [9]:
#what do we got
print (crime.lat.head()) 
print (crime.lon.head())

0    33.9602
1    34.2440
2    34.0242
3    34.1940
4    34.1936
Name: lat, dtype: float64
0   -118.2610
1   -118.5583
2   -118.2623
3   -118.3943
4   -118.4166
Name: lon, dtype: float64

## Distance output

In [10]:
distance(crime.lat[0], crime.lon[0], crime.lat[1], crime.lon[1])

25.96

## Now let's try to see how long to check distances of a waypoint for all ~200k rows.

In [11]:
#how many rows again?
crime.shape

(225350, 28)

In [12]:
crime['waylat'] = crime.lat[0]
crime['waylon'] = crime.lon[0]

In [13]:
crime.waylat.head()

0    33.9602
1    33.9602
2    33.9602
3    33.9602
4    33.9602
Name: waylat, dtype: float64

In [14]:
crime['dist'] = crime.apply(lambda row: distance(row['waylat'], row['waylon'], 
                                                 row['lat'], row['lon']), axis=1)

In [15]:
#what do we got
crime.dist.head()

0     0.00
1    25.96
2     4.42
3    17.86
4    18.42
Name: dist, dtype: float64

## Timing calculation
That took a long time!  Below is to find out just how long and if we can handle it with a smaller dataset such as the RE inventory

In [27]:
%timeit crime.apply(lambda row: distance(row['waylat'], row['waylon'], row['lat'], row['lon']), axis=1)

14.6 s Â± 771 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [17]:
print (round(12.7/225350, 5), 'sec / row (linear assertion)')
print ('16k row calculation of a single waypoit:', round(16000*12.7/225350,2), 
       'seconds wait per waypoint')

6e-05 sec / row (linear assertion)
16k row calculation of a single waypoit: 0.9 seconds wait per waypoint

## Conclusion

Calculating waypoints for an individual is possible with a processing time of approx 1 sec per waypoint.  I think this is acceptable if the input is in the profile, but perhaps an annoyance if the input is as a filter.  There is a natural delay from submit to exploration which we can hide this within.  It's also on the long end of acceptable (annoying) if we put this feature out front.

## Crimescore as a linear normalization

In [20]:
crime['crimescore'] = crime['dist'].map(lambda x: 1 if x<5 else 0)

In [21]:
crime.crimescore.head()

0    1
1    0
2    1
3    0
4    0
Name: crimescore, dtype: int64

In [24]:
#what do we got
print(crime.crimescore.value_counts())

0    182734
1     42616
Name: crimescore, dtype: int64

In [25]:
crime.crimescore.sum()/len(crime.crimescore)

0.18911027290880852

In [33]:
#1 mile radius in lat lon 
round(1/55.2428,2)

0.02

## Brute force it - just filtering
+/-0.02 degrees rather than a calculation to get a ~2 mile box around a property to reduce processing time

In [40]:
new_crime = crime[abs(crime['waylat']-crime['lat']) < 0.02]
new_crime = new_crime[abs(crime['waylon']-crime['lon']) < 0.02]

print('original len', len(crime))
print('new len', len(new_crime))

original len 225350
new len 7311

/Users/dan/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

In [41]:
%timeit crime[abs(crime['waylat']-crime['lat']) < 0.02]
%timeit new_crime[abs(crime['waylon']-crime['lon']) < 0.02]

9.14 ms Â± 318 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

/Users/dan/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:257: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

4.78 ms Â± 195 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

## Difference of approaches
radius is more accurate, but takes ~14.5 sec per property vs. ~15ms per properties.  In this case, it makes more sense to give up some accuracy to improve processing time.

16k rows with an average of 15ms per row = 240 seconds This solution is problematic and needs to speed up.