In [1]:
import googlemaps  # pip install -U googlemaps
import numpy as np
import pandas as pd
import time
import subprocess
import requests
from census import Census # pip install census
from us import states # pip install us
from area import area # pip install area
from tqdm import tqdm

### Obtain Assessor Parcels Data

In [2]:
# get 2017 data (no useful records)
url = "https://data.lacounty.gov/resource/vak5-2hqh.json?$where=rollyear = '2017' \
AND usecodedescchar1 = 'Residential' \
AND propertylocation IS NOT NULL \
AND starts_with(recordingdate, '2017') \
AND effectiveyearbuilt != 0 \
AND bedrooms != 0 \
AND bathrooms != 0"
response = requests.get(url, verify=True)
output = response.json()

In [3]:
assessor = output
print (len(assessor))

0

In [4]:
# get 2016 data
url = "https://data.lacounty.gov/resource/vak5-2hqh.json?$where=rollyear = '2017' \
AND usecodedescchar1 = 'Residential' \
AND propertylocation IS NOT NULL \
AND starts_with(recordingdate, '2016') \
AND effectiveyearbuilt != 0 \
AND bedrooms != 0 \
AND bathrooms != 0 \
&$limit=2000&$offset=0"
# change limit number and offset number to get the full dataset (2.1M records)
response = requests.get(url, verify=True)
output = response.json()

In [5]:
assessor = output
print (len(assessor))

2000

In [6]:
features = ['propertylocation', 'roll_totalvalue', 'recordingdate', \
            'sqftmain', 'units', 'bedrooms', 'bathrooms', 'effectiveyearbuilt', \
            'usecodedescchar3', 'usecodedescchar4', 'roll_homeownersexemp']
assessor_features = {}
for feature in features:
    for i in range(len(assessor)):
        if i == 0:
            assessor_features[feature] = [assessor[i][feature]]
        else:
            assessor_features[feature] += [assessor[i][feature]]
df = pd.DataFrame(assessor_features)

In [7]:
# reformat dataframe
df['townhouse'] = np.where(df['usecodedescchar3']=='Townhouse Format', 'yes', 'no')
df['pool'] = np.where(df['usecodedescchar4'].str.contains('Pool'), 'yes', 'no')
df['condo'] = np.where(df['usecodedescchar4']=='Condominium', 'yes', 'no')
df['pud'] = np.where(df['usecodedescchar4']=='Planned Unit Development (PUD)', 'yes', 'no')
df['owned'] = np.where(df['roll_homeownersexemp']=='7000.00', 'yes', 'no')
df = df.drop(['usecodedescchar3', 'usecodedescchar4', 'roll_homeownersexemp'], axis=1)

,bathrooms,bedrooms,effectiveyearbuilt,propertylocation,recordingdate,roll_totalvalue,sqftmain,units,townhouse,pool,condo,pud,owned
0,2,4,1973,8309 FAUST AVE LOS ANGELES CA 91304,20161208,639000.00,2057,1,no,no,no,no,no
1,3,4,1978,8331 PONCE AVE LOS ANGELES CA 91304,20160802,735000.00,2538,1,no,yes,no,no,no
2,4,4,1962,22726 ECCLES ST LOS ANGELES CA 91304,20160331,749700.00,2630,1,no,yes,no,no,yes
3,3,3,1960,22750 ECCLES ST LOS ANGELES CA 91304,20160920,257434.00,2009,1,no,yes,no,no,no
4,4,4,1973,8378 FALLBROOK AVE LOS ANGELES CA 91304,20160802,728000.00,2072,1,no,yes,no,no,yes
5,3,3,1958,8344 FALLBROOK AVE LOS ANGELES CA 91304,20160912,233870.00,1442,1,no,no,no,no,yes
6,3,3,1959,8356 MAYNARD AVE LOS ANGELES CA 91304,20161121,236591.00,1538,1,no,no,no,no,yes
7,3,3,1959,8350 MAYNARD AVE LOS ANGELES CA 91304,20160212,588000.00,1589,1,no,no,no,no,yes
8,3,3,1960,8363 PONCE AVE LOS ANGELES CA 91304,20160923,551268.00,1589,1,no,yes,no,no,yes
9,3,4,1963,8362 PONCE AVE LOS ANGELES CA 91304,20160721,656624.00,2338,1,no,yes,no,no,yes
10,3,4,1973,8363 FAUST AVE LOS ANGELES CA 91304,20160621,361342.00,2090,1,no,yes,no,no,yes
11,2,3,1983,8331 SALE AVE LOS ANGELES CA 91304,20160503,774180.00,2411,1,no,yes,no,no,no
12,2,4,1973,8343 SALE AVE LOS ANGELES CA 91304,20160512,88665.00,1882,1,no,no,no,no,yes
13,2,4,1973,8383 SALE AVE LOS ANGELES CA 91304,20160405,674220.00,2232,1,no,no,no,no,no
14,2,4,1974,8354 FAUST AVE LOS ANGELES CA 91304,20161018,720000.00,1914,1,no,yes,no,no,no
15,3,4,1974,8362 FAUST AVE LOS ANGELES CA 91304,20160405,647220.00,2180,1,no,no,no,no,no
16,2,4,1973,8363 KENTLAND AVE LOS ANGELES CA 91304,20160518,430082.00,2136,1,no,no,no,no,no
17,2,4,1972,8383 KENTLAND AVE LOS ANGELES CA 91304,20161201,440593.00,1967,1,no,no,no,no,yes
18,2,4,1973,8386 SALE AVE LOS ANGELES CA 91304,20160715,710000.00,1882,1,no,yes,no,no,yes
19,2,4,1973,8324 SALE AVE LOS ANGELES CA 91304,20160617,509313.00,2232,1,no,yes,no,no,yes
20,2,4,1972,8359 CAPISTRANO AVE LOS ANGELES CA 91304,20160722,88672.00,1882,1,no,no,no,no,yes
21,2,4,1972,8394 KENTLAND AVE LOS ANGELES CA 91304,20160729,612000.00,1882,1,no,no,no,no,no
22,2,4,1972,8332 KENTLAND AVE LOS ANGELES CA 91304,20160217,750776.00,3279,1,no,no,no,no,no
23,2,3,1960,8374 CAPISTRANO AVE LOS ANGELES CA 91304,20160830,480000.00,1477,1,no,yes,no,no,no
24,2,4,1958,8399 SHOUP AVE LOS ANGELES CA 91304,20160413,402473.00,1452,1,no,yes,no,no,yes
25,2,3,1958,8361 SHOUP AVE LOS ANGELES CA 91304,20161206,432901.00,1351,1,no,yes,no,no,no
26,3,4,1960,8425 SHOUP AVE LOS ANGELES CA 91304,20160725,324441.00,1784,1,no,no,no,no,no
27,2,3,1961,22428 NAPA ST LOS ANGELES CA 91304,20161227,96277.00,1857,1,no,yes,no,no,yes
28,2,3,1963,22442 NAPA ST LOS ANGELES CA 91304,20161117,308384.00,1750,1,no,yes,no,no,yes
29,2,3,1961,22441 CHASE ST LOS ANGELES CA 91304,20161215,540000.00,1577,1,no,yes,no,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1970,2,3,1948,5446 PONCE AVE LOS ANGELES CA 91367,20160229,508980.00,940,1,no,no,no,no,yes
1971,2,4,1967,22518 DOLOROSA ST LOS ANGELES CA 91367,20160510,452596.00,2115,1,no,no,no,no,no
1972,2,3,1950,22536 DOLOROSA ST LOS ANGELES CA 91367,20160713,383051.00,1267,1,no,no,no,no,no
1973,2,3,1956,22553 CLARENDON ST LOS ANGELES CA 91367,20160510,556920.00,1314,1,no,no,no,no,no
1974,2,4,1990,22519 CLARENDON ST LOS ANGELES CA 91367,20160620,400592.00,1817,1,no,no,no,no,yes
1975,1,2,1952,22509 CLARENDON ST LOS ANGELES CA 91367,20160526,519384.00,1089,1,no,no,no,no,no
1976,2,2,1950,22533 CLARENDON ST LOS ANGELES CA 91367,20160531,469154.00,1116,1,no,no,no,no,yes
1977,3,4,1976,22621 MARIANO ST LOS ANGELES CA 91367,20160322,678300.00,1895,1,no,no,no,no,no
1978,1,3,1956,22615 MARIANO ST LOS ANGELES CA 91367,20160810,519000.00,1073,1,no,no,no,no,no
1979,1,3,1954,22626 CLARENDON ST LOS ANGELES CA 91367,20160602,256899.00,940,1,no,no,no,no,yes
1980,2,2,1955,22750 CLARENDON ST LOS ANGELES CA 91367,20160718,375322.00,1315,1,no,no,no,no,no
1981,2,3,1965,22707 MARIANO ST LOS ANGELES CA 91367,20161101,473562.00,1515,1,no,yes,no,no,no
1982,2,3,1960,22738 LEONORA DR LOS ANGELES CA 91367,20160610,226493.00,1330,1,no,yes,no,no,no
1983,3,3,1955,22757 DEL VALLE ST LOS ANGELES CA 91364,20160509,831300.00,2178,3,no,no,no,no,no
1984,3,3,1955,22729 DEL VALLE ST LOS ANGELES CA 91364,20160414,643554.00,1860,3,no,no,no,no,no
1985,3,3,1955,"22727 DEL VALLE ST, APT 0001 LOS ANGELES CA ...",20160414,643554.00,1869,3,no,no,no,no,no
1986,14,14,1989,22655 DEL VALLE ST LOS ANGELES CA 91364,20160331,1083745.00,8400,8,no,no,no,no,no
1987,3,5,1959,22421 PHILIPRIMM ST LOS ANGELES CA 91367,20160322,128179.00,2430,1,no,yes,no,no,no
1988,3,4,1959,22441 PHILIPRIMM ST LOS ANGELES CA 91367,20160713,915000.00,2588,1,no,yes,no,no,no
1989,2,3,1960,22450 MARTHA ST LOS ANGELES CA 91367,20160701,665000.00,2058,1,no,yes,no,no,yes
1990,2,3,1960,22430 MARTHA ST LOS ANGELES CA 91367,20161116,745000.00,2284,1,no,yes,no,no,no
1991,3,4,1960,22411 MIRANDA ST LOS ANGELES CA 91367,20161201,395401.00,2399,1,no,yes,no,no,yes
1992,2,4,1968,22441 MIRANDA ST LOS ANGELES CA 91367,20160616,690062.00,2938,1,no,yes,no,no,yes
1993,4,5,1976,22451 MIRANDA ST LOS ANGELES CA 91367,20160628,482400.00,4119,1,no,yes,no,no,yes
1994,3,5,1960,22450 HATTERAS ST LOS ANGELES CA 91367,20160912,607144.00,2430,1,no,no,no,no,yes
1995,3,4,1960,22441 CALIFA ST LOS ANGELES CA 91367,20160212,137052.00,2563,1,no,yes,no,no,yes
1996,3,3,1960,5837 CAPISTRANO AVE LOS ANGELES CA 91367,20161216,670000.00,2156,1,no,no,no,no,no
1997,3,4,1960,22554 MARYLEE ST LOS ANGELES CA 91367,20161229,181685.00,2185,1,no,yes,no,no,yes
1998,6,5,2005,5950 MANTON AVE LOS ANGELES CA 91367,20160308,1530000.00,3827,1,no,yes,no,no,no
1999,3,3,1955,23540 OXNARD ST LOS ANGELES CA 91367,20160301,138536.00,1852,1,no,no,no,no,yes

### Obtain Other Datasets

In [8]:
# Google Map API
gmaps = googlemaps.Client(key='AIzaSyCvdQFsQNisoXrltPkiVgiVKQEu-EZaoog') # up to 5,000 calls per month for nearby places search
# Walkscore API
walkscore_key = '4e5a6faea107e608b5cdd5b039a3a22b' # up to 5,000 calls per day
# Census API
c = Census("a9daf6ef81506b3306e32d8bb0d439a4aa98e1f5")

In [9]:
# format address and get coordinates 
def format_address(property_address):
    geocode_result = gmaps.geocode(property_address)
    property_address = geocode_result[0]['formatted_address']
    coordinates = (geocode_result[0]['geometry']['location']['lat'], geocode_result[0]['geometry']['location']['lng'])
    property_state = property_address.split(',')[-2].strip().split(' ')[0]
    property_zipcode = property_address.split(',')[-2].strip().split(' ')[1]
    return [property_address, coordinates, property_state, property_zipcode]

#### Census Data

In [10]:
def zipcode_area(state, zipcode):
    # geojson files downloaded from https://github.com/OpenDataDE/State-zip-code-GeoJSON
    geojson_file = state.lower() + '_' + str(states.lookup(state)).lower() + '_zip_codes_geo.min.json'
    boundary = pd.read_json(geojson_file)
    for i in range(len(boundary['features'])):
        if boundary['features'][i]['properties']['ZCTA5CE10'] == zipcode:
            geometry = boundary['features'][i]['geometry']
    area_sqmi = area(geometry)/2.59e+6
    return (area_sqmi)

In [11]:
def ACS_zipcode_data(state, zipcode):
    population = c.acs5.zipcode('B01003_001E', zcta = zipcode)[0]['B01003_001E']
    household = c.acs5.zipcode('B11016_001E', zcta = zipcode)[0]['B11016_001E']
    area = zipcode_area(state, zipcode)
    pop_density = population / area
    HH_density = household / area
    # households size and type
    Family = c.acs5.zipcode('B11016_002E', zcta = zipcode)[0]['B11016_002E'] / household # get percentage for family households
    HH2 = [c.acs5.zipcode(table, zcta = zipcode)[0][table] for table in ['B11016_003E', 'B11016_010E', 'B11016_011E']]
    HH2 = sum(HH2) / household # get percentage for HH with no more than 2-person
    HH3 = [c.acs5.zipcode(table, zcta = zipcode)[0][table] for table in ['B11016_004E', 'B11016_012E']]
    HH3 = sum(HH3) / household # get percentage for HH with 3-person
    HH4 = [c.acs5.zipcode(table, zcta = zipcode)[0][table] for table in ['B11016_005E', 'B11016_006E', 'B11016_007E', 'B11016_008E', 'B11016_013E', 'B11016_014E', 'B11016_015E', 'B11016_016E']]
    HH4 = sum(HH4) / household # get percentage for HH with no less than 4-person
    HH_Kids = c.acs5.zipcode('B09002_001E', zcta = zipcode)[0]['B09002_001E'] / household # get percentage for households with kids
    # tenure
    Owner = c.acs5.zipcode('B25003_002E', zcta = zipcode)[0]['B25003_002E'] / household # get percentage for owner-occupied households
    # vacancy
    Vacancy = c.acs5.zipcode('B25002_003E', zcta = zipcode)[0]['B25002_003E'] / c.acs5.zipcode('B25002_001E', zcta = zipcode)[0]['B25002_001E'] # get percentage for vacant properties
    # age
    Age = c.acs5.zipcode('B01002_001E', zcta = zipcode)[0]['B01002_001E']
    # race
    Race_W = c.acs5.zipcode('B02001_002E', zcta = zipcode)[0]['B02001_002E'] / population # get percentage for white alone
    Race_B = c.acs5.zipcode('B02001_003E', zcta = zipcode)[0]['B02001_003E'] / population # get percentage for black or african american alone
    Race_A = c.acs5.zipcode('B02001_005E', zcta = zipcode)[0]['B02001_005E'] / population # get percentage for asian alone
    Race_H = c.acs5.zipcode('B03001_003E', zcta = zipcode)[0]['B03001_003E'] / population # get percentage for hispanic or latino
    # median household income
    Income = c.acs5.zipcode('B19013_001E', zcta = zipcode)[0]['B19013_001E']
    # median monthly housing costs
    Cost = c.acs5.zipcode('B25105_001E', zcta = zipcode)[0]['B25105_001E']
    # median property value
    Value = c.acs5.zipcode('B25077_001E', zcta = zipcode)[0]['B25077_001E']
    # median year structure built
    Year_Built = c.acs5.zipcode('B25035_001E', zcta = zipcode)[0]['B25035_001E']
    # average commute time
    C10 = c.acs5.zipcode('B08134_002E', zcta = zipcode)[0]['B08134_002E'] # less than 10min
    C20 = c.acs5.zipcode('B08134_003E', zcta = zipcode)[0]['B08134_003E'] + c.acs5.zipcode('B08134_004E', zcta = zipcode)[0]['B08134_004E'] # 10 - 20 min
    C30 = c.acs5.zipcode('B08134_005E', zcta = zipcode)[0]['B08134_005E'] + c.acs5.zipcode('B08134_006E', zcta = zipcode)[0]['B08134_006E'] # 20 - 30 min
    C45 = c.acs5.zipcode('B08134_007E', zcta = zipcode)[0]['B08134_007E'] + c.acs5.zipcode('B08134_008E', zcta = zipcode)[0]['B08134_008E'] # 30 - 45 min
    C60 = c.acs5.zipcode('B08134_009E', zcta = zipcode)[0]['B08134_009E'] + c.acs5.zipcode('B08134_010E', zcta = zipcode)[0]['B08134_010E'] # 45+ min
    Commute = [10] * int(C10) + [20] * int(C20) + [30] * int(C30) + [45] * int(C45) + [60] * int(C60)
    Commute = np.median(Commute)
    # commute means
    Total_commute = c.acs5.zipcode('B08134_001E', zcta = zipcode)[0]['B08134_001E']
    Drive = c.acs5.zipcode('B08134_011E', zcta = zipcode)[0]['B08134_011E'] / Total_commute
    Carpool2 = c.acs5.zipcode('B08134_031E', zcta = zipcode)[0]['B08134_031E'] / Total_commute
    Carpool3 = c.acs5.zipcode('B08134_041E', zcta = zipcode)[0]['B08134_041E'] / Total_commute
    Transit = c.acs5.zipcode('B08134_061E', zcta = zipcode)[0]['B08134_061E'] / Total_commute
    Walk = c.acs5.zipcode('B08134_101E', zcta = zipcode)[0]['B08134_101E'] / Total_commute
    Other = c.acs5.zipcode('B08134_111E', zcta = zipcode)[0]['B08134_111E'] / Total_commute

    return [zipcode, pop_density, HH_density, Family, HH2, HH3, HH4, HH_Kids, Owner, Vacancy, Age, 
            Race_W, Race_B, Race_A, Race_H, Income, Cost, Value, Year_Built, Commute, 
            Drive, Carpool2, Carpool3, Transit, Walk, Other]

#### Walkscore Data and Google Nearby Places

In [12]:
def get_walkscore(property_address, coordinates, walkscore_key):
    url = 'http://api.walkscore.com/score?format=json&address=' + \
    property_address + '&lat=' + str(coordinates[0]) + '&lon=' + str(coordinates[1]) + \
    '&transit=1&bike=1&wsapikey=' + walkscore_key
    response = requests.get(url, verify=True)
    output = response.json()
    # write walkscores
    walkscores = []
    walkscores.append(output['description']) 
    walkscores.append(output['walkscore']) 
    walkscores.append(output['transit']['description']) 
    walkscores.append(output['transit']['score'])
    walkscores.append(output['bike']['description'])
    walkscores.append(output['transit']['score'])
    return walkscores

In [13]:
def get_places(coordinates):
    radius = 1600 #1600m is about 1 mile
    places_dict = {}
    features = []
    categories = ['restaurants', 'coffee', 'bars', 'groceries', 'parks', 'schools', 'shopping', 'entertainment'] # ignore errands to simplify process
    for category in categories:
        # get nearby places
        nearby_places = gmaps.places_nearby(location=coordinates, keyword=category, radius=radius)
        places = nearby_places['results']
        if 'next_page_token' in nearby_places.keys():
            time.sleep(2) # There is a short delay between when a next_page_token is issued, and when it will become valid
            nearby_places2 = gmaps.places_nearby(location=coordinates, page_token=nearby_places['next_page_token'])
            places += nearby_places2['results']
            if 'next_page_token' in nearby_places2.keys():
                time.sleep(2) # There is a short delay between when a next_page_token is issued, and when it will become valid
                nearby_places3 = gmaps.places_nearby(location=coordinates, page_token=nearby_places['next_page_token'])
                places += nearby_places3['results']
        
        # write nearby places' names and distances to a dictionary
        places_dict[category] = []
        total, within_half_mile, within_qt_mile = 0, 0, 0
        closest = float("inf")
        for place in places:
            place_location = place['geometry']['location']
            place_coordinates = (place_location['lat'], place_location['lng'])

            # walking distance through open street map routes (project osrm)
            url = 'http://router.project-osrm.org/route/v1/walking/' + \
            str(coordinates[1]) + ',' + str(coordinates[0]) + ';' + \
            str(place_coordinates[1]) + ',' + str(place_coordinates[0]) + '?overview=false'
            response = requests.get(url, verify=True)
            output = response.json()
            distance = output['routes'][0]['distance'] * 0.000621371 # convert from meter to mile
            
            places_dict[category] += [(place['name'], distance)]
            total += 1
            if distance <= 0.25:
                within_qt_mile += 1
            if distance <= 0.5:
                within_half_mile += 1
            if distance < closest:
                closest = distance
                closest = round(closest, 2)
        # add number of places, number of places within half mile/10 minutes walking, shortest distance for each category
        features += [total, within_half_mile, within_qt_mile, closest]
        
    return (features)

In [14]:
df_test = df[:100]

In [15]:
# columns to add
census_labels = ['zipcode', 'pop_density', 'HH_density', 'Family', 'HH2', 'HH3', 'HH4', 'HH_Kids', 
          'Owner', 'Vacancy', 'Age', 'Race_W', 'Race_B', 'Race_A', 'Race_H', 'Income', 'Cost', 'Value', 
          'Year_Built', 'Commute', 'Drive', 'Carpool2', 'Carpool3', 'Transit', 'Walk', 'Other']
walkscore_labels = ['walkable', 'walkscore','transitable', 'transit_score', 'bikeable', 'bike_score']
nearby_labels = []
categories = ['restaurants', 'coffee', 'bars', 'groceries', 'parks', 'schools', 'shopping', 'entertainment']
for category in categories:
    for distance in ['within_one_mile', 'within_half_mile', 'within_qt_mile', 'closest']:
        nearby_labels.append(category + '_' + distance)

In [16]:
pd.options.mode.chained_assignment = None  # default='warn'
for i in tqdm(range(len(df_test))):
    property_address, coordinates, property_state, property_zipcode = format_address(df['propertylocation'][i])
    
    # add elevation
    elevation = gmaps.elevation(coordinates)
    elevation = elevation[0]['elevation']
    df_test.loc[i, 'elevation'] = elevation
    
    # add census
    census_features = ACS_zipcode_data(property_state, property_zipcode)
    for l in range(len(census_labels)):
        df_test.loc[i, census_labels[l]] = census_features[l]
        
    # add walkscore
    walkscores = get_walkscore(property_address, coordinates, walkscore_key)
    for l in range(len(walkscore_labels)):
        df_test.loc[i, walkscore_labels[l]] = walkscores[l]
        
    # add nearby places
    nearby_places = get_places(coordinates=coordinates) 
    for l in range(len(nearby_labels)):
        df_test.loc[i, nearby_labels[l]] = nearby_places[l]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100/100 [47:03<00:00, 28.24s/it]

In [17]:
df_test

,bathrooms,bedrooms,effectiveyearbuilt,propertylocation,recordingdate,roll_homeownersexemp,roll_totalvalue,sqftmain,units,usecodedescchar3,...,schools_within_qt_mile,schools_closest,shopping_within_one_mile,shopping_within_half_mile,shopping_within_qt_mile,shopping_closest,entertainment_within_one_mile,entertainment_within_half_mile,entertainment_within_qt_mile,entertainment_closest
0,2,4,1973,8309 FAUST AVE LOS ANGELES CA 91304,20161208,0.00,639000.00,2057,1,,...,0.0,0.38,2.0,0.0,0.0,1.380000,4.0,0.0,0.0,1.28
1,3,4,1978,8331 PONCE AVE LOS ANGELES CA 91304,20160802,0.00,735000.00,2538,1,,...,0.0,0.26,2.0,0.0,0.0,1.300000,3.0,0.0,0.0,1.15
2,4,4,1962,22726 ECCLES ST LOS ANGELES CA 91304,20160331,7000.00,749700.00,2630,1,,...,0.0,0.39,2.0,0.0,0.0,1.430000,2.0,0.0,0.0,1.29
3,3,3,1960,22750 ECCLES ST LOS ANGELES CA 91304,20160920,0.00,257434.00,2009,1,,...,0.0,0.34,1.0,0.0,0.0,1.390000,2.0,0.0,0.0,1.24
4,4,4,1973,8378 FALLBROOK AVE LOS ANGELES CA 91304,20160802,7000.00,728000.00,2072,1,,...,0.0,0.26,1.0,0.0,0.0,2.000000,1.0,0.0,0.0,1.15
5,3,3,1958,8344 FALLBROOK AVE LOS ANGELES CA 91304,20160912,7000.00,233870.00,1442,1,,...,1.0,0.17,1.0,0.0,0.0,1.910000,2.0,0.0,0.0,1.07
6,3,3,1959,8356 MAYNARD AVE LOS ANGELES CA 91304,20161121,7000.00,236591.00,1538,1,,...,0.0,0.26,3.0,0.0,0.0,1.300000,3.0,0.0,0.0,1.16
7,3,3,1959,8350 MAYNARD AVE LOS ANGELES CA 91304,20160212,7000.00,588000.00,1589,1,,...,1.0,0.24,2.0,0.0,0.0,1.280000,3.0,0.0,0.0,1.14
8,3,3,1960,8363 PONCE AVE LOS ANGELES CA 91304,20160923,7000.00,551268.00,1589,1,,...,0.0,0.33,2.0,0.0,0.0,1.380000,3.0,0.0,0.0,1.23
9,3,4,1963,8362 PONCE AVE LOS ANGELES CA 91304,20160721,7000.00,656624.00,2338,1,,...,0.0,0.33,2.0,0.0,0.0,1.370000,3.0,0.0,0.0,1.22
10,3,4,1973,8363 FAUST AVE LOS ANGELES CA 91304,20160621,7000.00,361342.00,2090,1,,...,0.0,0.41,2.0,0.0,0.0,1.260000,3.0,0.0,0.0,1.30
11,2,3,1983,8331 SALE AVE LOS ANGELES CA 91304,20160503,0.00,774180.00,2411,1,,...,0.0,0.38,3.0,0.0,0.0,0.940000,6.0,0.0,0.0,1.29
12,2,4,1973,8343 SALE AVE LOS ANGELES CA 91304,20160512,7000.00,88665.00,1882,1,,...,0.0,0.41,3.0,0.0,0.0,0.960000,6.0,0.0,0.0,1.31
13,2,4,1973,8383 SALE AVE LOS ANGELES CA 91304,20160405,0.00,674220.00,2232,1,,...,0.0,0.52,1.0,0.0,0.0,1.070000,5.0,0.0,0.0,1.42
14,2,4,1974,8354 FAUST AVE LOS ANGELES CA 91304,20161018,0.00,720000.00,1914,1,,...,0.0,0.37,2.0,0.0,0.0,1.300000,3.0,0.0,0.0,1.27
15,3,4,1974,8362 FAUST AVE LOS ANGELES CA 91304,20160405,0.00,647220.00,2180,1,,...,0.0,0.40,2.0,0.0,0.0,1.270000,3.0,0.0,0.0,1.29
16,2,4,1973,8363 KENTLAND AVE LOS ANGELES CA 91304,20160518,0.00,430082.00,2136,1,,...,0.0,0.72,2.0,0.0,0.0,1.060000,6.0,0.0,0.0,1.55
17,2,4,1972,8383 KENTLAND AVE LOS ANGELES CA 91304,20161201,7000.00,440593.00,1967,1,,...,0.0,0.67,2.0,0.0,0.0,1.010000,5.0,0.0,0.0,1.50
18,2,4,1973,8386 SALE AVE LOS ANGELES CA 91304,20160715,7000.00,710000.00,1882,1,,...,0.0,0.53,2.0,0.0,0.0,1.080000,5.0,0.0,0.0,1.43
19,2,4,1973,8324 SALE AVE LOS ANGELES CA 91304,20160617,7000.00,509313.00,2232,1,,...,0.0,0.37,2.0,0.0,0.0,0.930000,6.0,0.0,0.0,1.28
20,2,4,1972,8359 CAPISTRANO AVE LOS ANGELES CA 91304,20160722,7000.00,88672.00,1882,1,,...,0.0,0.56,3.0,0.0,0.0,0.880000,7.0,0.0,0.0,1.31
21,2,4,1972,8394 KENTLAND AVE LOS ANGELES CA 91304,20160729,0.00,612000.00,1882,1,,...,0.0,0.65,1.0,0.0,0.0,0.950000,5.0,0.0,0.0,1.44
22,2,4,1972,8332 KENTLAND AVE LOS ANGELES CA 91304,20160217,0.00,750776.00,3279,1,,...,0.0,0.78,3.0,0.0,0.0,1.120000,6.0,0.0,0.0,1.61
23,2,3,1960,8374 CAPISTRANO AVE LOS ANGELES CA 91304,20160830,0.00,480000.00,1477,1,,...,0.0,0.60,6.0,0.0,0.0,0.910000,6.0,0.0,0.0,1.34
24,2,4,1958,8399 SHOUP AVE LOS ANGELES CA 91304,20160413,7000.00,402473.00,1452,1,,...,0.0,0.51,7.0,0.0,0.0,0.800000,9.0,0.0,0.0,1.28
25,2,3,1958,8361 SHOUP AVE LOS ANGELES CA 91304,20161206,0.00,432901.00,1351,1,,...,0.0,0.58,7.0,0.0,0.0,0.750000,9.0,0.0,0.0,1.18
26,3,4,1960,8425 SHOUP AVE LOS ANGELES CA 91304,20160725,0.00,324441.00,1784,1,,...,0.0,0.55,7.0,0.0,0.0,0.890000,8.0,0.0,0.0,1.32
27,2,3,1961,22428 NAPA ST LOS ANGELES CA 91304,20161227,7000.00,96277.00,1857,1,,...,0.0,0.67,2.0,0.0,0.0,1.010000,8.0,0.0,0.0,1.44
28,2,3,1963,22442 NAPA ST LOS ANGELES CA 91304,20161117,7000.00,308384.00,1750,1,,...,0.0,0.77,7.0,0.0,0.0,1.030000,7.0,0.0,0.0,1.46
29,2,3,1961,22441 CHASE ST LOS ANGELES CA 91304,20161215,7000.00,540000.00,1577,1,,...,0.0,0.57,6.0,0.0,0.0,0.860000,6.0,0.0,0.0,1.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,2,4,1971,8318 DUCOR AVE LOS ANGELES CA 91304,20161014,7000.00,353470.00,1519,1,,...,0.0,0.74,0.0,0.0,0.0,inf,3.0,0.0,0.0,0.89
71,2,3,1972,8344 DUCOR AVE LOS ANGELES CA 91304,20160812,0.00,296673.00,1704,1,,...,0.0,0.69,0.0,0.0,0.0,inf,3.0,0.0,0.0,0.83
72,2,4,1971,8325 DUCOR AVE LOS ANGELES CA 91304,20160315,0.00,290409.00,1519,1,,...,0.0,0.73,0.0,0.0,0.0,inf,3.0,0.0,0.0,0.87
73,2,3,1966,8308 SEDAN AVE LOS ANGELES CA 91304,20160909,0.00,250379.00,1363,1,,...,0.0,0.47,0.0,0.0,0.0,inf,3.0,0.0,0.0,0.62
74,2,4,1973,8328 SEDAN AVE LOS ANGELES CA 91304,20160426,0.00,70502.00,1519,1,,...,0.0,0.52,0.0,0.0,0.0,inf,3.0,0.0,0.0,0.67
75,2,3,1973,8352 SEDAN AVE LOS ANGELES CA 91304,20160608,0.00,535500.00,1404,1,,...,0.0,0.58,0.0,0.0,0.0,inf,3.0,0.0,0.0,0.73
76,2,3,1972,8422 SAMRA DR LOS ANGELES CA 91304,20160609,7000.00,276619.00,1404,1,,...,0.0,0.78,0.0,0.0,0.0,inf,2.0,0.0,0.0,0.93
77,2,4,1972,8448 SAMRA DR LOS ANGELES CA 91304,20161228,0.00,532791.00,1519,1,,...,0.0,0.82,0.0,0.0,0.0,inf,2.0,0.0,0.0,0.97
78,2,4,1972,8482 CARLA LN LOS ANGELES CA 91304,20160802,0.00,605000.00,1519,1,,...,0.0,0.83,0.0,0.0,0.0,inf,2.0,0.0,0.0,0.98
79,3,3,1975,8388 SEDAN AVE LOS ANGELES CA 91304,20161229,7000.00,336146.00,2123,1,,...,0.0,0.66,0.0,0.0,0.0,inf,2.0,0.0,0.0,0.81
80,2,4,1972,8416 SEDAN AVE LOS ANGELES CA 91304,20161104,0.00,451407.00,1519,1,,...,0.0,0.71,0.0,0.0,0.0,inf,2.0,0.0,0.0,0.86
81,2,4,1972,8441 SAMRA DR LOS ANGELES CA 91304,20160425,0.00,274964.00,1519,1,,...,0.0,0.83,0.0,0.0,0.0,inf,2.0,0.0,0.0,0.98
82,3,5,1985,8470 SAMRA DR LOS ANGELES CA 91304,20161025,7000.00,408309.00,2828,1,,...,0.0,0.79,0.0,0.0,0.0,inf,2.0,0.0,0.0,0.94
83,2,4,1972,8476 SAMRA DR LOS ANGELES CA 91304,20161031,0.00,611000.00,1519,1,,...,0.0,0.76,0.0,0.0,0.0,inf,2.0,0.0,0.0,0.91
84,2,4,1972,8474 DARLENE LN LOS ANGELES CA 91304,20161216,7000.00,617000.00,1519,1,,...,0.0,0.84,0.0,0.0,0.0,inf,2.0,0.0,0.0,0.99
85,2,4,1972,8464 SEDAN AVE LOS ANGELES CA 91304,20160919,7000.00,543664.00,1519,1,,...,0.0,0.83,0.0,0.0,0.0,inf,3.0,0.0,0.0,0.98
86,2,4,1972,8470 SEDAN AVE LOS ANGELES CA 91304,20160920,0.00,595000.00,1519,1,,...,0.0,0.79,0.0,0.0,0.0,inf,3.0,0.0,0.0,1.00
87,3,4,1969,8374 DENISE LN LOS ANGELES CA 91304,20160222,7000.00,201955.00,2023,1,,...,0.0,0.66,0.0,0.0,0.0,inf,2.0,0.0,0.0,0.81
88,3,4,1969,8390 DENISE LN LOS ANGELES CA 91304,20161028,7000.00,658000.00,2023,1,,...,0.0,0.71,0.0,0.0,0.0,inf,2.0,0.0,0.0,0.86
89,3,4,1969,8394 DENISE LN LOS ANGELES CA 91304,20161019,0.00,351056.00,2314,1,,...,0.0,0.72,0.0,0.0,0.0,inf,2.0,0.0,0.0,0.87
90,2,3,1969,8400 DENISE LN LOS ANGELES CA 91304,20160701,0.00,233870.00,1497,1,,...,0.0,0.73,0.0,0.0,0.0,inf,2.0,0.0,0.0,0.88
91,3,4,1969,8432 DENISE LN LOS ANGELES CA 91304,20160825,7000.00,239136.00,2314,1,,...,0.0,0.79,0.0,0.0,0.0,inf,3.0,0.0,0.0,0.94
92,2,4,1972,8429 SEDAN AVE LOS ANGELES CA 91304,20161212,7000.00,72199.00,1519,1,,...,0.0,0.75,0.0,0.0,0.0,inf,2.0,0.0,0.0,0.89
93,2,3,1982,8407 SEDAN AVE LOS ANGELES CA 91304,20160127,7000.00,620013.00,1746,1,,...,0.0,0.70,0.0,0.0,0.0,inf,2.0,0.0,0.0,0.85
94,3,4,1972,8395 SEDAN AVE LOS ANGELES CA 91304,20161130,0.00,371361.00,1954,1,,...,0.0,0.68,0.0,0.0,0.0,inf,2.0,0.0,0.0,0.82
95,2,4,1971,8350 WOODLAKE AVE LOS ANGELES CA 91304,20160824,0.00,625000.00,1519,1,,...,0.0,0.63,0.0,0.0,0.0,inf,3.0,0.0,0.0,0.59
96,2,3,1971,8367 DENISE LN LOS ANGELES CA 91304,20160613,0.00,452700.00,1404,1,,...,0.0,0.64,0.0,0.0,0.0,inf,3.0,0.0,0.0,0.79
97,2,3,1963,8317 DENISE LN LOS ANGELES CA 91304,20160912,0.00,543664.00,1962,1,,...,0.0,0.70,0.0,0.0,0.0,inf,3.0,0.0,0.0,0.67
98,2,4,1973,8317 SEDAN AVE LOS ANGELES CA 91304,20160725,7000.00,561269.00,1519,1,,...,0.0,0.50,0.0,0.0,0.0,inf,3.0,0.0,0.0,0.64
99,2,3,1962,8325 WOODLAKE AVE LOS ANGELES CA 91304,20161215,0.00,680000.00,1962,1,,...,0.0,0.57,0.0,0.0,0.0,inf,3.0,0.0,0.0,0.53

In [20]:
df_test.to_csv('test_100records.csv')